<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Thesis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>


#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result123';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}

<!--cat o day-->
  .bg{
  /* The image used */
  background-image: url("imgs/background_image2_2.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  .footer-copyright{
  }

  .page-footer{
    border-top: 1px solid #A9A9A9;
  }

  body{
    margin-left: 10%;
    margin-right: 10%;
    border-left: 0.5px solid #D3D3D3;
    border-right: 0.5px solid #D3D3D3;
  }

body.file-process-open {
  transform: translateX(-30%);
  transition: transform 0.2s linear;
}

.file-upload-bar {
  height: 100%;
  position: fixed;
  right: -56%;
  width: 55%;
  top: 0;
  box-shadow: 0 0 22px #000;
  overflow: hidden;
  display: block;
  transition: all 0.2s linear;
}
.individual-files ul li:last-child {
    border: 0;
}

.bar-wrapper {
    padding: 20px;
}

#middle_container{
  margin-bottom: 2%;
}

#exe_btn {
    pointer-events: none;
    color: #ccc;
}


  </style>
</head>
<body>
<div id="container">
<div class="jumbotron text-center bg" style="margin-bottom:0">
  <h1>Demo</h1>
  <h3>Using artificial inteligence in Biomedical</h3>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item nav-option">
        <a class="nav-link" href="#">Problem description</a>
      </li>
      <li class="nav-item nav-option">
        <a class="nav-link" href="#">Solve problem</a>
      </li>
        <li class="nav-item nav-option">
        <a class="nav-link" href="#">Demo</a>
      </li>
    </ul>
  </div>
    <div class="collapse navbar-collapse"></div>
    <div class="collapse navbar-collapse"></div>
    <div class="collapse navbar-collapse"></div>
    <div class="collapse navbar-collapse"></div>
    <div class="collapse navbar-collapse"></div>
    <div class="collapse navbar-collapse"></div>
    <div class="collapse navbar-collapse"></div>
    <div class="collapse navbar-collapse"></div>
    <div class="collapse navbar-collapse"></div>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
      <li class="nav-item nav-option">
        <a class="nav-link" href="#"><i class="fa fa-facebook-official" style="font-size:36px; color: white;"></i></a>
      </li>
      <li class="nav-item nav-option">
        <a class="nav-link" href="#"><i class="fa fa-github" style="font-size:36px; color: white;"></i></a>
      </li>
      <li class="nav-item nav-option">
        <a class="nav-link" href="#"><i class="fa fa-instagram" style="font-size:36px; color: white;"></i></a>
      </li>
        <li class="nav-item nav-option">
        <a class="nav-link" href="#"><i class="fa fa-youtube-play" style="font-size:36px; color: white;"></i></a>
      </li>
        <li class="nav-item nav-option">
        <a class="nav-link" href="#"><i class="fa fa-twitter-square" style="font-size:36px; color: white;"></i></a>
      </li>

    </ul>

  </div>

</nav>

<div class="container" id="middle_container" style="margin-top:30px">
  <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
  <header class="text-white text-center">
        <h1 class="display-4">AI in Biomedical</h1>
        <p class="lead mb-0">Using deep learning in locating and predicting ...</p>
        <p class="mb-5 font-weight-light">Performed by
            <a href="#" class="text-white">
                <u>Nguyễn Văn A</u>
            </a>
        </p>
          <button id="exe_btn" class="btn btn-info btn-lg open-progress" type="button" style="border: None;"><span class="fa fa-refresh"></span> Execute</button>
    </header>

    <div class="row py-4">
        <div class="col-lg-6 mx-auto">

            <!-- Upload image input-->
            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                <input id="upload" type="file" name="file" accept="image/*" onchange="readURL(this);" class="form-control border-0">
                <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                <div class="input-group-append">
                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                </div>
            </div>
            <!-- Uploaded image area-->
            <p class="font-italic text-white text-center">The image uploaded will be rendered inside the box below.</p>
            <div class="image-area mt-4" id = 'img_rs'><img id="imageResult" src="{{url_for('send_image', filename=image_name)}}" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>

        </div>
    </div>
    </form>
</div>


<!--myjs-->
<script>
  $('#call-to-action,.click-upload').click(function() {
  $('#call-to-action').addClass('upload--loading');
  $('.upload-hidden').click();
});
$('.upload-hidden').change(function() {
  $('#call-to-action').removeClass('upload--loading');
  $('body').addClass('file-process-open');
});
$('.file-upload-bar-closed').click(function() {
  $('body').removeClass('file-process-open');
});
$('.open-progress').click(function() {
  $('body').toggleClass('file-process-open');
});

$(function() {

  var ul = $('#upload ul');

  $('#drop a').click(function() {
    // Simulate a click on the file input button
    // to show the file browser dialog
    $(this).parent().find('input').click();
  });

  // Initialize the jQuery File Upload plugin
  $('#upload').fileupload({

    // This element will accept file drag/drop uploading
    dropZone: $('#drop'),

    // This function is called when a file is added to the queue;
    // either via the browse button, or via drag/drop:
    add: function(e, data) {

      var tpl = $('<li class="working"><input type="text" value="0" data-width="48" data-height="48"' +
        ' data-fgColor="#0788a5" data-readOnly="1" data-bgColor="#3e4043" /><p></p><span></span></li>');

      // Append the file name and file size
      tpl.find('p').text(data.files[0].name)
        .append('<i>' + formatFileSize(data.files[0].size) + '</i>');

      // Add the HTML to the UL element
      data.context = tpl.appendTo(ul);

      // Initialize the knob plugin
      tpl.find('input').knob();

      // Listen for clicks on the cancel icon
      tpl.find('span').click(function() {

        if (tpl.hasClass('working')) {
          jqXHR.abort();
        }

        tpl.fadeOut(function() {
          tpl.remove();
        });

      });

      // Automatically upload the file once it is added to the queue
      var jqXHR = data.submit();
    },

    progress: function(e, data) {

      // Calculate the completion percentage of the upload
      var progress = parseInt(data.loaded / data.total * 100, 10);

      // Update the hidden input field and trigger a change
      // so that the jQuery knob plugin knows to update the dial
      data.context.find('input').val(progress).change();

      if (progress == 100) {
        data.context.removeClass('working');
      }
    },

    fail: function(e, data) {
      // Something has gone wrong!
      data.context.addClass('error');
    }

  });

  // Prevent the default action when a file is dropped on the window
  $(document).on('drop dragover', function(e) {
    e.preventDefault();
  });

  // Helper function that formats the file sizes
  function formatFileSize(bytes) {
    if (typeof bytes !== 'number') {
      return '';
    }

    if (bytes >= 1000000000) {
      return (bytes / 1000000000).toFixed(2) + ' GB';
    }

    if (bytes >= 1000000) {
      return (bytes / 1000000).toFixed(2) + ' MB';
    }
    return (bytes / 1000).toFixed(2) + ' KB';
  }

});
</script>

<script>

/*  ==========================================
    SHOW UPLOADED IMAGE
* ========================================== */
function readURL(input) {
    if (input.files && input.files[0]) {
<!--        alert("ok");-->
<!--        $('.file-upload-bar').hide();-->
        document.getElementById('exe_btn').style = 'color: white;pointer-events: auto;';
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#imageResult')
                .attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
    }
}

$(function () {
    $('#upload').on('change', function () {
        $('body').removeClass('file-process-open');
        readURL(input);
    });
});

/*  ==========================================
    SHOW UPLOADED IMAGE NAME
* ========================================== */
var input = document.getElementById( 'upload' );
var infoArea = document.getElementById( 'upload-label' );

input.addEventListener( 'change', showFileName );
function showFileName( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  infoArea.textContent = 'File name: ' + fileName;
}
</script>

<script>
    $(function() {
    $('#exe_btn').click(function() {
        event.preventDefault();
        var form_data = new FormData($('#upload-form')[0]);
        $.ajax({
            type: 'POST',
            url: '/upload',
            data: form_data,
            contentType: false,
            processData: false,
            dataType: 'json'
        }).done(function(data, textStatus, jqXHR){
            console.log(data);
            console.log(textStatus);
            console.log(jqXHR);
            console.log('Success!');
<!--            $("#resultFilename").text(data['img_base64']);-->
            var base64Image = `data:image/jpeg;base64,${data.img_base64_result}`;
            var imagePlaceholder = document.getElementById('img_rs_1');
            var image = document.getElementById('imageResult1');
            displayBase64Image(imagePlaceholder, base64Image, image);

            var base64Image = `data:image/jpeg;base64,${data.img_base64_result}`;
            var imagePlaceholder = document.getElementById('img_rs_2');
            var image = document.getElementById('imageResult2');
            displayBase64Image(imagePlaceholder, base64Image, image);
        }).fail(function(data){
            alert('error!');
        });
    });
});


 function displayBase64Image(placeholder, base64Image, image) {

            image.onload = function() {
                placeholder.innerHTML = '';
                placeholder.appendChild(this);
            }
            image.src = base64Image;

        }
</script>

<div class="file-upload-bar">
        <h1 class="jumbotron text-center bg">Result</h1>
        <div class="bar-wrapper">
                      <div class="image-area mt-4" id = 'img_rs_1'><img id="imageResult1" src="" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
        </div>

</div>
  </div>
</body>
</html>
